<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net20" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="RestSharp" version="106.15.0" targetFramework="net46" />
</packages>