<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Solomon_Invoice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="AppTestService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>

    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <Solomon_Invoice.Properties.Settings>
      <setting name="Solomon_Invoice_service_hoadon_service_ketnoi" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value></value>
      </setting>
    </Solomon_Invoice.Properties.Settings>
  </applicationSettings>
</configuration>
